<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        #editearea {
            height: 100px;
            width: 400px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    <div class="status_bar">
        {% if current_user.is_authenticated %}

        <li>
            <a href="{{ url_for('logout') }}"> 注销 </a>
        </li>
        <li>
            <a href="#">用户:{{ current_user.username }} &nbsp;</a>
        </li>
        {% else %}

        <li>
            <a href="{{ url_for('userregister') }}"> 注册</a>
        </li>
        <li>
            <a href="{{ url_for('login') }}"> 登录 &nbsp;</a>
        </li>
        {% endif %}
    </div>
    <div id="editor"></div>
    <textarea type="text" id="editearea" d={{data}}></textarea>
    <div class="view"></div>
    <script src="../static/js/editpage.js"></script>
</body>

</html>