<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        #editearea {
            height: 100px;
            width: 400px;
        }
    </style>
</head>

<body>
    <textarea type="text" id="editearea"></textarea>
    <script>
        var changeset = new Object()
        changeset.actions = new Array()
        changeset.localversion = 0
        doc = document.querySelector('textarea')
        doc.addEventListener('input', e => {
            changeset.actions.push({
                type: e.inputType.slice(0, 6),
                content: e.data,
                index: doc.selectionStart
            })
            console.log(changeset.actions)
            console.log(JSON.stringify(changeset))
        })


        //请求版本号
        function rqversion() {
            fetch('/root/first trial/requestversion', {
                method: 'GET'
            }).then(res => res.json().then(data => {
                console.log(data)
                changeset.localversion = Number(data)
                console.log(changeset.localversion)
            }))
        }

        rqversion()
        function sendData(changeset) {
            if (changeset.actions.length !== 0) {
                fetch('/root/first trial/merge', {
                    method: 'POST',
                    body: JSON.stringify(changeset)
                }).then(res => {
                    console.log(res)
                    changeset.actions = new Array()
                    changeset.localversion++
                })
            }
        }
        setInterval(function () {
            sendData(changeset)
        }, 2000)
    </script>
</body>

</html>